.blogList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.blogItem {
  width: calc((100% - 1rem) / 2);
  list-style: none;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 1rem;
  transition: 0.5s;
}

.blogItem:hover {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.16);
  transform: translateY(-1px);
}

.blogItem:hover .blogItem__heading::after {
  opacity: 1;
}

.blogItem:nth-of-type(-n + 2) {
  margin-top: 0;
}

.blogItem:nth-of-type(2n + 1) {
  margin-left: 0;
}

.blogItem__link {
  display: block;
  height: 100%;
  color: #000;
  padding: 0.6rem;
}

.blogItem__link:hover::before {
  display: none;
}

.blogItem__heading {
  position: relative;
  display: inline-block;
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
}

.blogItem__heading::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: grey;
  opacity: 0;
  transition: 0.3s;
}

.blogItem__content {
  font-size: 0.8rem;
}

.blogItem__imgWrapper {
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.blogItem__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
