.post__title {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 1rem;
}

.post__date {
  text-align: right;
  color: grey;
}

.post__imgWrapper {
  position: relative;
  margin: 2rem auto 0;
  width: 80%;
  padding-top: 80%;
}

.post__imgWrapper > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.post__body h2,
.post__body h3,
.post__body h4,
.post__body h5 {
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.post__body h2::after,
.post__body h3::after,
.post__body h4::after,
.post__body h5::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

.post__body h2 {
  font-size: 1.8rem;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: rgba(128, 128, 128, 0.1);
}

.post__body h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: red;
}

.post__body h2::after {
  background-color: red;
}

.post__body h3 {
  font-size: 1.6rem;
}

.post__body h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: yellow;
}

.post__body h3::after {
  height: 2px;
  background-color: yellow;
}

.post__body h4 {
  font-size: 1.4rem;
}

.post__body h4::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: green;
}

.post__body h4::after {
  height: 1px;
  background-color: green;
}

.post__body h5 {
  font-size: 1.2rem;
}

.post__body h5::after {
  height: 1px;
<<<<<<< HEAD
  background-color: purple;
=======
  background-color: yellow;
>>>>>>> f944641ed3b67f52a38c2674783dd32d03ff80ae
}
